 <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img class="d-inline-block align-text-top" alt="" width="50" height="50" src="/img/logo.jpg" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a style="color:#387aba" href="/galerie" class="nav-item nav-link">Галерија</a>
            <a style="color:#387aba" href="/spectrum" class="nav-item nav-link">Профили</a>
            <a style="color:#387aba" href="/aboutus" class="nav-item nav-link">За нас</a>
            <a style="color:#387aba" href="/ponuda" class="nav-item nav-link">Контакт</a>
        </div>
        <a style="background-color: #2777bd;border-color: #387aba;" href="/ponuda" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Бесплатна Понуда<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->