@page "/spectrum"

 <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Профили</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/img/profili/70mm.jpg" alt="">
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">Spectrum 70mm</p>
                            <h5 class="lh-base mb-0"><a>Класичен 6 коморен профил</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/profili/86mm.jpg" alt="">
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">Spectrum 86mm 3D</p>
                            <h5 class="lh-base mb-0"><a>Профил со 3 дихтунга, со можност за триплекс стакло. Погоден за место каде е неопходна звучна и топлинска изолација</a></h5>
                        </div>
                    </div>
                </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/img/profili/antracid.jpg" alt="">
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">Spectrum 70mm Antracid</p>
                            <h5 class="lh-base mb-0"><a>Надворешна страна со антрацид боја, внатрешна бела или пак двострана антрацид боја</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/img/profili/golden oak.jpg" alt="">
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">Weiss Profile 70mm Golden Oak</p>
                            <h5 class="lh-base mb-0"><a>Имитација на дрво, златен даб</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Projects End -->
